// Display only when the screen width is below 680px

@import "../../App.scss";

.bottom-options-container {
  background-color: #f1f1f1;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  .inner-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-box {
      .icon {
        transition: all 0.3s ease-in-out;
        color: #969696;
        font-size: 2.2rem;
        cursor: pointer;
      }
      // &:hover,
      // &:active,
    }
    .active {
      .icon{
        color: $color-primary;
      }
    }
  }
}

// @media only screen and (min-width: 681px) {
@media only screen and (min-width: 1061px) {
  .bottom-options-container {
    display: none !important;
  }
}
