@import "../../App.scss";

.messaging-container {
  padding: 4rem 0 0 0;
  background-color: $color-bg-primary;
  height: 88vh;
  .inner-div {
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 20rem);
    gap: 3rem;
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 16rem);
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(2, auto);
      width: 100%;
    }
    .box {
      position: relative;
      img {
        width: 20rem;
        @media (max-width: 900px) {
          width: 16rem;
        }

        @media (max-width: 500px) {
          display: none;
        }
      }
      span {
        color: $color-primary;
        font-weight: 600;
        position: absolute;
        bottom: 1.2rem;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 500px) {
          position: relative;
          left: auto;
          bottom: auto;
          background-color: $color-primary;
          color: #fff;
          padding: 1rem;
          border-radius: 2rem;
          transition: background-color 0.3s ease-in-out;
          &:hover{
            background-color: $color-primary-dark;
          }
        }
      }
    }
  }
}
