@import "../../App.scss";

.sign-up-container {
  padding: 2rem 0 0 0;
  min-height: 88vh;
  position: relative;
  background-color: #fff;
  .inner-div {
    width: 90%;
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    .form-side {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media (max-width: 500px) {
        width: 95%;
        margin: 0 auto;
      }
      form {
        h1 {
          color: $color-primary;
          font-size: 2.1rem;
          font-weight: 600;
        }
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 35rem;
        gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        @media (max-width: 500px) {
          width: 100%;
        }
        .combined-input-div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0.5rem;
          @media (max-width: 476px) {
            grid-template-columns: 1fr;
            gap: 1rem;
          }
        }
        .input-box {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          input {
            width: 100%;
            outline: none;
            border: 1px solid #cccccc;
            height: 2.5rem;
            padding: 0.5rem;
            border-radius: 1rem;
            font-size: 0.9rem;
            background-color: $color-bg-primary;
          }
          .sm-screen-view {
            display: none;
            @media (max-width: 476px) {
              display: block;
            }
          }
        }
        .gender-and-dob {
          display: flex;
          gap: 0.5rem;
          .gender-box {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            .genders {
              display: flex;
              gap: 0.5rem;
              .selected {
                background-color: $color-primary !important;
                color: #fff !important;
              }
            }
            .genders > .gender {
              padding: 0.5rem;
              height: 2.5rem;
              border-radius: 1rem;
              font-size: 0.9rem;
              background-color: $color-bg-primary;
              color: #727272;
              border: 1px solid #cccccc;
              input {
                color: #727272;
                //   cursor: pointer;
                background-color: $color-bg-primary !important;
                outline: none;
                border: none;
              }
            }
            .genders > .gender {
              cursor: pointer;
            }
          }
          .dob-div {
            .dob {
              padding: 0.5rem;
              height: 2.5rem;
              border-radius: 1rem;
              font-size: 0.9rem;
              background-color: $color-bg-primary;
              color: #727272;
              border: 1px solid #cccccc;
              input {
                color: #727272;
                //   cursor: pointer;
                background-color: $color-bg-primary !important;
                outline: none;
                border: none;
              }
            }
          }
        }
        .pincode-div {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          .pincode-city-state {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;
            @media (max-width: 476px) {
              grid-template-columns: 1fr;
              gap: 1rem;
            }
          }
          .lg-screen-view {
            display: block;
            @media (max-width: 476px) {
              display: none;
            }
          }
        }
        .button-primary {
          @include buttonStyles();
          padding-block: 1rem;
        }
      }
      .sign-up-buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        @media (max-width: 476px) {
          flex-direction: column;
          gap: 0.5rem;
        }
        .sign-in-with {
          display: flex;
          align-items: center;
          gap: 2px;
          border-radius: 2rem;
          background-color: $color-bg-primary;
          padding: 0 0.5rem;
          font-size: 0.9rem;
          color: $color-primary;
          cursor: pointer;
          @media (max-width: 476px) {
            padding-block: 0.5rem;
          }
          img {
            width: 1.8rem;
          }
        }
      }
    }
    .image-side {
      height: 100%;
      img {
        position: absolute;
        bottom: 1px;
        right: 1px;
        width: 32rem;
        z-index: 1;
        @media (max-width: 1156px) {
          width: 25rem;
        }
        @media (max-width: 990px) {
          width: 20rem;
        }
        @media (max-width: 896px) {
          width: 16rem;
        }
        @media (max-width: 840px) {
          width: 13rem;
        }
        @media (max-width: 786px) {
          width: 11rem;
        }
        @media (max-width: 750px) {
          width: 9rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .sign-up-container {
    padding: 2rem 0 2rem 0;
    .inner-div {
      width: 100%;
      justify-content: center;
      .image-side {
        display: none;
      }
    }
  }
}
