@import "../../App.scss";

.news {
  background-color: #fff;
  border-radius: 1rem;
  // padding: 0.5rem 1rem 0 0.5rem !important;
  height: fit-content;
  position: relative;
  box-shadow: 1px 1px 0.8rem rgba(0, 0, 0, 0.2);
  .title {
    // position: sticky;
    // top: 0;
    .heading {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-top: 1rem;
      justify-content: center;
      span {
        font-size: 1.1rem;
        // margin: 0.5rem 0;
        font-weight: 600;
      }
    }
  }
  // h3 {
  //   position: sticky;
  //   top:0;
  //   font-size: 1rem;
  //   font-weight: 600;
  //   width: 100%;
  //   background-color: #fff;
  // }
  .list-items {
    list-style: none;
    .list-item {
      margin: 0.5rem 0;
      padding: 0.3rem 0;
      li {
        font-size: 0.85rem;
      }
      li::before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $color-primary;
        margin-right: 5px;
        margin-bottom: 1.5px;
      }
      span {
        font-size: 0.7rem;
      }
    }
  }
  @media (max-width: 1060px) {
    width: 0;
    display: none;
  }
}
